.reebok_section {
  background-color: #f6f6f6;
  color: #070707;
  padding-bottom: 100px;
  .container {
    text-align: center;
    .img {
      margin-bottom: 45px;
    }
    a {
      color: #070707;
      font-size: 18px;
      line-height: 22px;

      &:hover {
        color: $base-color-1;
      }
    }
  }
}
