.corporate-section {
  .container {
    width: 1470px;

    .line {
      background: #00486d;
      width: 100%;
      width: 1470px;
      height: 51px;
      color: #99b6c5;
      text-align: center;

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        padding: 10px 0 10px 0;
      }
    }

    .c-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        text-decoration: none;
        color: #00486d;
        font-size: 38px;
      }
      nav {
        display: flex;
        margin: 0;
        padding: 0;

        .menu {
          display: flex;

          li {
            list-style: none;
            justify-content: space-between;
          }

          a {
            text-decoration: none;
            font-weight: 400;
            font-size: 19px;
            line-height: 35px;
            padding: 0;
            margin: 0;
          }
        }
      }

      .tell {
        color: #00486d;
        text-decoration: none;
        font-weight: 400;
        font-size: 17px;
        line-height: 35px;
      }
    }
  }
}
