// ligatured operators ≥ ≤

@import "vendors/include-media";
@import "vendors/normalize";

@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/helpers";
@import "base/reset";
@import "base/typography";
@import "base/forms";
@import "base/common";

@import "header/header";

@import "section/get_the_inspiration_section";
@import "section/how_it_works_section";
@import "section/our_mission_section";
@import "section/our_project_section";
@import "section/testimonial-section";
@import "section/contact_us_section";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  @include media("<desktop") {
    font-size: 14px;
  }

  @include media("<phone") {
    font-size: 13px;
  }

  #wrapper {
    @include media("<=desktop") {
      padding: 30px 0 0;
    }
  }
}

body {
  font-family: "Poppins", sans-serif;
}
