$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px,
);

@import "vendors/include-media";
@import "vendors/common";
@import "base/variables";
@import "base/forms";
@import "base/reset";
@import "base/typography";
@import "base/fonts";

@import "sections/subscriptions.scss";
@import "sections/trainings-cards";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  @include media("<desktop") {
    font-size: 14px;
  }

  @include media("<phone") {
    font-size: 13px;
  }
}

#wrapper {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}
