.personalized-section {
  &::before {
    // content: none;
    right: 140px;
    left: unset;
    top: 133px;
    z-index: 0;
    height: 208px;
  }

  .container {
    background-image: url("../../img/img-02.jpg");
    background-repeat: no-repeat;
    height: 680px;
    border-radius: 2px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 15px;
    max-width: 1290px;

    .text-block {
      width: 423px;
      color: #00486d;
      z-index: 2;

      .col-right-description {
        background: #00486d;
        color: #f2f6f7;
        padding: 53px 58px 72px 56px;

        h5 {
          font-weight: 400;
          font-size: 35px;
          line-height: 42px;
        }

        p {
          font-weight: 400;
          font-size: 19px;
          line-height: 35px;
          margin-top: 23px;
          margin-bottom: 60px;
        }

        .btn_about_our_firm {
          display: inline-block;
          vertical-align: top;
          min-width: 181px;
          background: #f2f6f7;
          border-radius: 4px;
          padding: 12px 24px 12px 24px;
          color: #00486d;
          text-decoration: none;
          font-size: 18px;
          line-height: 2;
          text-align: center;
        }
      }
    }
  }
}
