ul.menu{
    display:flex;
    justify-content: space-between;
}

header h3 {
    color: #828282;
}

.selected-item{
    color: black;
}

header hr{
    margin-top: 32px;
    border-color:#828282 ;
}
.selected-page{
    color:Black;
    font-weight: bold;
}

.hero {
    size: 48px;
}

.hero .description{
    display:flex;
    justify-content: space-between;
}

.hero .description .name{
    margin-top: 40px;
}
.hero .position{
    text-align: center;
    margin-top: 95px;
    
}


.hero .wrapper-language {
    position: relative;
}

.hero .wrapper-language .language{
    position: absolute;
    left: -50px;
    top: 69.5px;
    width: 80px;
       /* width: 200px; */
    /* text-align: right; */
    /* margin-top: 69px; */

    transform: rotate(-90deg);

}
.About-me{
    text-align: center;
}
